@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'montserrat', sans-serif;
}

body {
  background-color: #e9e8e0;
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho img {
  width: 15%;
  
}
.cabecalho-texto {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabecalho-texto h2, h3 {
  color: #4d443c;
  font-size: 20px;
  text-transform: uppercase;
  
}
.cabecalho-texto small {
  color: #4d443c;
  font-size: 14px;
  text-transform: uppercase;
  margin: 30px 30% 0 30%;
}


.texto_home {
  display: flex;
  color: #4d443c;
}

.texto_home h2 {
  font-size: 0.7rem;
  margin: 1rem 0 0 0;
}

.texto_home small {
  color: #4d443c;
  font-size: 0.7rem;
  margin: 1rem 0 0 5rem;
}

.texto_home h3 {
  
  font-size: 0.7rem;
  margin: 1rem 0 0 4rem;
}

.container {
  width: 100%;
  background-color: #fff;
  border: solid #e15923;
  padding: 10px;
}

.container_2 {
  width: 100%;
  background-color: #fff;
  border: solid #e9e8e0;
  padding: 10px;
  
}

.tabela {
  display: flex;
}

.tabela1 {
  color: #3986a8;
  height: 1.3rem;
  width: 75%;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  line-height: 1px;
  text-align: left;
  text-transform: uppercase;
  border: solid;
  border-color: #e9e8e0;
  background-color: #e9e8e0;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
}

.tabela_G {
  color: rgb(57, 134, 168);
  height: 4.3rem;
  width: 75%;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  border: solid rgb(233, 232, 224);
  background-color: rgb(233, 232, 224);
  margin: 1rem 0 1rem 1rem;
  padding: 0.5rem 0 0 1rem;
}

.btn_input {
  width: 33rem;
  color: #e15923;
  height: 2.2rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  border: solid;
  border-color: #e9e8e0;
  background-color: #e9e8e0;
  margin: 1rem 0 0 0.3rem;
  padding: 0.5rem;
}

.btn_input_G {
  width: 33rem;
  color: #e15923;
  height: 4.3rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  border: solid;
  border-color: #e9e8e0;
  background-color: #e9e8e0;
  margin: 1rem 0 0 0.3rem;
  padding: 0.5rem;
}


.btn {
  cursor: pointer;
  color: #4d443c;
  font-size: 1.5rem;
  background: none;
  border: unset;
  
  
}


.btn_input_footer {
  width: 33rem;
  color: #e15923;
  height: 4.3rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  border: solid;
  border-color: #e9e8e0;
  background-color: #e9e8e0;
  margin: 1rem 0 0 0.3rem;
  padding: 0.5rem;
}

.btn_footer {
  cursor: pointer;
  color: #4d443c;
  font-size: 1.5rem;
  height: 1.7rem;
  background: none;
  border: unset;
  margin-top: 2rem;
}